# Sorting by column

Sort the data frame by a particular column.

In [2]:
import pandas

In [3]:
df = pandas.read_csv('http://bit.ly/airbnbcsv')

In [4]:

df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

Use the sort_values() method to sort the whole data frame by specific columns. To keep using the sorted data frame in the rest of the notebook, we need to overwrite the variable.

In [8]:
df = df.sort_values(['price'])

Now if we look at the price column, the values should start out low, because the data frame has been sorted on price.

In [11]:
df.price.head(10)

25796    0
25795    0
25794    0
25753    0
26841    0
25433    0
25634    0
26259    0
26866    0
25778    0
Name: price, dtype: int64

What if we want to have the data frame worted by price, but start with the most expensive?

In [13]:
df = df.sort_values(['price'], ascending=False)

In [15]:
df.price.head()

17692    10000
29238    10000
9151     10000
12342     9999
6530      9999
Name: price, dtype: int64

We can also look at the other columns and they'll also be sorted by price. We can see what the most expensive listings are called.

In [17]:
df.name.head(15)

17692      Luxury 1 bedroom apt. -stunning Manhattan views
29238                                  1-BR Lincoln Center
9151                   Furnished room in Astoria apartment
12342                  Quiet, Clean, Lit @ LES & Chinatown
6530                                    Spanish Harlem Apt
40433    2br - The Heart of NYC: Manhattans Lower East ...
30268    Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho
4377                                         Film Location
29662            East 72nd Townhouse by (Hidden by Airbnb)
42523                  70' Luxury MotorYacht on the Hudson
45666                                 Gem of east Flatbush
44034                     3000 sq ft daylight photo studio
37194                 Apartment New York \nHell’s Kitchens
48043         Luxury TriBeCa Apartment at an amazing price
3774                      SUPER BOWL Brooklyn Duplex Apt!!
Name: name, dtype: object

What if we want to wrot by more than one column? Let's sort by minimum nights and price, in that order.

In [20]:
df = df.sort_values(['minimum_nights', 'price'], ascending=False)

If we only want to see certain columns, we can index using a list of the column names we want to see.

In [21]:
df[['name', 'price', 'minimum_nights']]

,name,price,minimum_nights
5767,Prime W. Village location 1 bdrm,180,1250
2854,NaN,400,1000
38664,Shared Studio (females only),110,999
13404,Historic Designer 2 Bed. Apartment,99,999
26341,Beautiful place in Brooklyn! #2,79,999
...,...,...,...
27972,Spacious 2-bedroom Apt in Heart of Greenpoint,10,1
33505,Room with a view,10,1
25795,Contemporary bedroom in brownstone with nice view,0,1
25794,Spacious comfortable master bedroom with nice ...,0,1
25796,Cozy yet spacious private brownstone bedroom,0,1


# Indexing by Matching Strings

Looking up specific rows by matching on their strings.

In class, we picked the word "trendy." Then we can create a new data set (a subset) that is only the listings that contain the word "trendy."

In [22]:
word_to_look_up = 'trendy'

When indexing, we first create the boolean series, then we use that series to index. This is similar to when we used contiditionals (i.e., price > 50) to create a list of booleans, then passed that list to our df object. In this case, we create our list of booleans using the str.contains() method.

One issue is that the contains() method is case sensitive. If we want all uses of the word "trendy," we first should make the whole column (name) lower case. For that, we use the str.lower() method first.

In [23]:
trendy_bools = df.name.str.lower().str.contains(word_to_look_up)

In [25]:
trendy_bools

5767     False
2854       NaN
38664    False
13404    False
26341    False
         ...
27972    False
33505    False
25795    False
25794    False
25796    False
Name: name, Length: 48895, dtype: object

Notice there are some values in the boolean series that we aren't familiar with: NaN. NaN means that there is no data in that cell, or in that row of the series. We can't index if there are NaN values in the series, so we have to do a step that turns the NaN values into False instead.

In [27]:
trendy_bools = trendy_bools == True

trendy_bools

5767     False
2854     False
38664    False
13404    False
26341    False
         ...
27972    False
33505    False
25795    False
25794    False
25796    False
Name: name, Length: 48895, dtype: bool

Now we can do our indexing step, passing our bollean list back into the data frame using thedf[] syntax to index it.

In [28]:
trendy_df = df[trendy_bools]

How many items contain the word trendy? We can use the len() function to see the length in rows of the new data frame.

In [29]:
len(trendy_df)

248

I'm curious what neighborhoods are considered trendy. We can use a new method, value_counts(), which counts each instance in a series and shows the result.

In [34]:
trendy_df.neighbourhood.value_counts().head(10)

Williamsburg          47
Bushwick              38
Bedford-Stuyvesant    22
Lower East Side       17
East Village          14
Harlem                11
Greenpoint             9
Chelsea                6
Hell's Kitchen         6
Crown Heights          6
Name: neighbourhood, dtype: int64

We can do the same with the borough:

In [67]:
trendy_df.neighbourhood_group.value_counts()

Brooklyn     150
Manhattan     85
Queens        12
Bronx          1
Name: neighbourhood_group, dtype: int64

# Handling Capitalization

Here's an exampole of how the str.lower() method works, since we didn't sepnd much time on it earlier.

Here's the normal capitalization:

In [36]:
df.name

5767                      Prime W. Village location 1 bdrm
2854                                                   NaN
38664                         Shared Studio (females only)
13404                   Historic Designer 2 Bed. Apartment
26341                      Beautiful place in Brooklyn! #2
                               ...
27972        Spacious 2-bedroom Apt in Heart of Greenpoint
33505                                     Room with a view
25795    Contemporary bedroom in brownstone with nice view
25794    Spacious comfortable master bedroom with nice ...
25796         Cozy yet spacious private brownstone bedroom
Name: name, Length: 48895, dtype: object

Here's all lower case:

In [42]:
df.name.str.lower()

5767                      prime w. village location 1 bdrm
2854                                                   NaN
38664                         shared studio (females only)
13404                   historic designer 2 bed. apartment
26341                      beautiful place in brooklyn! #2
                               ...
27972        spacious 2-bedroom apt in heart of greenpoint
33505                                     room with a view
25795    contemporary bedroom in brownstone with nice view
25794    spacious comfortable master bedroom with nice ...
25796         cozy yet spacious private brownstone bedroom
Name: name, Length: 48895, dtype: object

It's not that useful, but we can also do all uppercase if we want:

In [44]:
df.name.str.upper()

5767                      PRIME W. VILLAGE LOCATION 1 BDRM
2854                                                   NaN
38664                         SHARED STUDIO (FEMALES ONLY)
13404                   HISTORIC DESIGNER 2 BED. APARTMENT
26341                      BEAUTIFUL PLACE IN BROOKLYN! #2
                               ...
27972        SPACIOUS 2-BEDROOM APT IN HEART OF GREENPOINT
33505                                     ROOM WITH A VIEW
25795    CONTEMPORARY BEDROOM IN BROWNSTONE WITH NICE VIEW
25794    SPACIOUS COMFORTABLE MASTER BEDROOM WITH NICE ...
25796         COZY YET SPACIOUS PRIVATE BROWNSTONE BEDROOM
Name: name, Length: 48895, dtype: object

And also title case:

In [45]:
df.name.str.title()

5767                      Prime W. Village Location 1 Bdrm
2854                                                   NaN
38664                         Shared Studio (Females Only)
13404                   Historic Designer 2 Bed. Apartment
26341                      Beautiful Place In Brooklyn! #2
                               ...
27972        Spacious 2-Bedroom Apt In Heart Of Greenpoint
33505                                     Room With A View
25795    Contemporary Bedroom In Brownstone With Nice View
25794    Spacious Comfortable Master Bedroom With Nice ...
25796         Cozy Yet Spacious Private Brownstone Bedroom
Name: name, Length: 48895, dtype: object